.env
*.env
.vscode
elastic_search/certificates/out/*
elastic_search/certificates/*.yml
elastic_search/*.yml
!elastic_search/roles.yml
!elastic_search/roles_mapping.yml
proxy/acme.json
proxy/certificates