#Endereço, na rede interna, do broker do celery
DJANGO_CELERY_BROKER_URL=amqp://guest:guest@xram-memory-rabbitmq:5672
DJANGO_SECRET_KEY=654wqew6qewq651qwe6wq54
DJANGO_CONFIGURATION=IndexingWithLunrSearch
DJANGO_ALLOWED_HOSTS=xram-memory.localhost
# Informações do banco de dados
POSTGRES_USER=xram_memory
POSTGRES_PASSWORD=xram_pass
# URL String do banco de dados, repita os dados acima
DATABASE_URL=postgres://xram_memory:xram_pass@xram-memory-db:5432/xram_memory
# Nome do container elastic search na rede interna
DJANGO_ELASTICSEARCH_HOST=http://es-node1:9200/
DJANGO_ELASTICSEARCH_CREDENTIALS=xram_memory_admin,senha_admin
DJANGO_LUNR_INDEX_BACKEND=remote
DJANGO_LUNR_INDEX_REMOTE_HOST=http://xram-memory-elasticlunr-index-builder:3000
# token de autenticação para o serviço de construção do índice elasticlunr
# as duas variáveis abaixo precisam ter o mesmo valor - FIXME: remover esta gambiarra
DJANGO_LUNR_INDEX_REMOTE_SECRET=9w8e765fdbfg6hft8y7rtyiy6u54dsdas
AUTH_TOKEN=9w8e765fdbfg6hft8y7rtyiy6u54dsdas
# url do memcached
DJANGO_MEMCACHED_URL=xram-memory-memcached:11211
#habilite o debugger remoto
REMOTE_TESTING=1
DJANGO_LUNR_INDEX_REBUILD_INTERVAL=60