DJANGO_CELERY_BROKER_URL=#url interna do container do redis, com protocolo redis://
DJANGO_SECRET_KEY=
DJANGO_CONFIGURATION=
DJANGO_ALLOWED_HOSTS=#url externa de web

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

DATABASE_URL=mysql://<usuario>:<senha>@xram_memory_db:3306/xram_memory

DJANGO_ELASTICSEARCH_HOST=#somente o nome do container interno do ES