#Endereço, na rede interna, do broker do celery
DJANGO_CELERY_BROKER_URL=redis://xram_memory_redis
DJANGO_SECRET_KEY=
DJANGO_CONFIGURATION=Production
DJANGO_ALLOWED_HOSTS=xram-memory.local

# Informações do banco de dados
POSTGRES_USER=xram_memory
POSTGRES_PASSWORD=xram_pass
# URL String do banco de dados, repita os dados acima
DATABASE_URL=postgres://xram_memory:xram_pass@xram_memory_db:5432/xram_memory
# Nome do container elastic search na rede interna
DJANGO_ELASTICSEARCH_HOST=http://es-node1:9200/
DJANGO_ELASTICSEARCH_CREDENTIALS=artifact_news,senha