# Variáveis-ambiente exclusivas para o serviço de relay de mensagens de contato

# Origens a partir doa quais são aceitas requisições
CORS_ORIGINS=http://xram-memory.localhost
# Chave do cliente do recaptcha (*secret* key)
RECAPTCHA_SECRET=
# Usuário do servidor smtp
USER_ACCOUNT=
# Senha do servidor smtp
USER_PASS=
# E-mail que receberá a mensagem
DESTINATION=
# Assunto da mensagem
SUBJECT=