CORS_ORIGINS=http://xram-memory.local
#chave do cliente do recaptcha (*secret* key)
RECAPTCHA_SECRET=
# usuário do servidor smtp
USER_ACCOUNT=
# senha do servidor smtp
USER_PASS=
# e-mail que receberá a mensagem
DESTINATION=
# assunto da mensagem
SUBJECT=[xraM-Memory] Mensagem de contato