# Variáveis-ambiente exclusivas de web
# Variáveis com prefixo SSR_ são usadas em server-side

# Endereço do serviço do relay de mensagens
CONTACT_MESSAGE_RELAY_URL=https://contact.xram-memory.localhost
SSR_CONTACT_MESSAGE_RELAY_URL=
# Chave do cliente do recaptcha (Site key)
RECAPTCHA_KEY=
# Endereço do servidor de arquivos
MEDIA_URL=https://xram-memory.localhost
SSR_MEDIA_URL=
# Endereço da API
API_URL=https://xram-memory.localhost
SSR_API_URL=
# Endereço público do arquivo de índice ElasticLunr
LUNR_INDEX_URL=https://xram-memory.localhost/media/lunr_index/index.json
SSR_LUNR_INDEX_URL=