node.name: es1.xram-memory.local
node.master: true
node.data: true
node.ingest: true

opendistro_security.ssl.transport.pemcert_filepath: esnode.pem
opendistro_security.ssl.transport.pemkey_filepath: esnode-key.key
opendistro_security.ssl.transport.pemtrustedcas_filepath: root-ca.pem
opendistro_security.ssl.transport.enforce_hostname_verification: false
opendistro_security.ssl.transport.pemkey_password:

opendistro_security.ssl.http.enabled: false
opendistro_security.ssl.http.pemcert_filepath: esnode_http.pem
opendistro_security.ssl.http.pemkey_filepath: esnode-key_http.key
opendistro_security.ssl.http.pemtrustedcas_filepath: root-ca.pem
opendistro_security.ssl.http.pemkey_password:

opendistro_security.allow_unsafe_democertificates: false

opendistro_security.allow_default_init_securityindex: true
opendistro_security.authcz.admin_dn:
  - CN=kirk.xram-memory.local,OU=Ops,O=xraM-Memory,DC=xram-memory,DC=local

opendistro_security.audit.type: internal_elasticsearch
opendistro_security.enable_snapshot_restore_privilege: true
opendistro_security.check_snapshot_restore_write_privileges: true
opendistro_security.restapi.roles_enabled: ["all_access", "security_rest_api_access"]
cluster.routing.allocation.disk.threshold_enabled: false
opendistro_security.audit.config.disabled_rest_categories: NONE
opendistro_security.audit.config.disabled_transport_categories: NONE

http.cors.enabled: true
http.cors.allow-origin: http://xram-memory.local
http.cors.allow-credentials: true
http.cors.allow-headers: "X-Requested-With, Content-Type, Content-Length, Authorization"

opendistro_security.nodes_dn:
  - 'CN=es1.xram-memory.local,OU=Ops,O=xraM-Memory,DC=xram-memory,DC=local'