# New password applied
admin:
  readonly: true
  hash: #TODO:
  roles:
    - admin
  attributes:
    #no dots allowed in attribute names
    attribute1: value1
    attribute2: value2
    attribute3: value3

artifact_news_read:
  readonly: true
  hash: #TODO:
  roles:
    - read_artifact_news

artifact_news:
  readonly: true
  hash: #TODO:
  roles:
    - own_index