# Administrador
admin:
  readonly: true
  hash: $2y$12$8SqmcQQzzSlxbn/L75vjyOCl5dFaX251j/uVYEeGIaSOWC9ePKP16
  roles:
    - admin
  attributes:
    #no dots allowed in attribute names
    attribute1: value1
    attribute2: value2
    attribute3: value3

# Usuário usado pelo cliente web para ler os índices
xram_memory_read:
  readonly: true
  hash: $2y$12$aKTkgqaq9sxx/4nnluKQMOoMiI0WIPRNbkY1M7WubFAi5k9UCWfjW
  roles:
    - read_xram_memory

# Usuário administrativo para os índices da aplicação
xram_memory_admin:
  readonly: true
  hash: #TODO:
  roles:
    - admin_xram_memory